@import url('https://fonts.googleapis.com/earlyaccess/jejugothic.css');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');

:root {
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #ececec;
}

  * {
    margin: 0;
    padding: 0;
}

body {
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: "Lato", sans-serif;
}

/* --------------- Content ---------------- */
.Content{
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* grid-template-columns: repeat(4, 1fr); */
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}

/* --------------- End of Content ---------------- */

/* --------------- Navbar ---------------- */

.navbar {
    position: sticky;
    top: 0;
    width: 100%;

    display: flex;
    align-items: center;
    margin: 0 auto;

    background: rgb(255, 255, 255);


    padding: 0;
}

  /* --------------- End of Navbar ---------------- */

  /* --------------- LoginForm ---------------- */

.LoginForm {
  display: grid;
  align-items: center;
  margin: 100px;

  background: rgb(255, 255, 255);
  


  padding: 0;
}

/* --------------- End of LoginForm ---------------- */

  /* --------------- footer ---------------- */

.footer {
    background-color: #3d3d3d;
    color: white;
    width: 100%;
    margin: 0 auto;    
    text-align: center;
  }
  /* --------------- End of footer ---------------- */