@import url(Navbar.css);
@import url(Login.css);
@import url(chat.css);

@media screen and (max-width: 1000px) { 
    #Over_size { display: none; } 
}

@media screen and (max-width: 700px) { 
    #Over_size-small { display: none; } 
}

:root {
    --primaryColor: rgb(228, 228, 228);
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #ececec;
}

.button_right{
    float: right;
}

.button_grid{
    width: 90vw;
    padding: 1%;
    margin: 5% auto;
    max-width: 500px;
    min-width: 100px;
}

.User_list {
    float: right;
    width: 5vw;
    height: 1000px;
    display: inline-table;
    margin: 1vw auto;
}

.Post{
    width: 90vw;
    padding: 1%;
    margin: 5% auto;
    max-width: 500px;
    min-width: 100px;
    display: grid;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 5px;
}

.Post_Card{
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-template-columns: repeat(4, 1fr); */
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}



