
.button_right{
    float: right;
}

.button_grid{
    width: 90vw;
    padding: 1%;
    margin: 5% auto;
    max-width: 500px;
    min-width: 100px;
}

/* Buttons */

.userButton{
    border: none;
    color: black;
    height: 45px;
    float: right;
    text-decoration: none;
    background-color: white;
}

.button {    
    border: none;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    float: right;
}

.Search_btn{
    background-image: url(/src/icon/Search.svg);
    background-size: 100% 100%;
    width: 25px; height: 25px;
}

.imgUser {
    background-image: url(/src/icon/User.svg);
    background-size: 100% 100%;
    width: 70px; height: 70px;
}

.Like_btn {
    background-image: url(/src/icon/UnLike.svg);
    background-size: 100% 100%;
    width: 25px; height: 25px;
}

.View_more_btn{
    background-image: url(/src/icon/View_more.svg);
    background-size: 100% 100%;
    width: 25px; height: 25px;
}

.Settings_btn{
    background-image: url(/src/icon/Settings.svg);
    background-size: 100% 100%;
    width: 25px; height: 25px;
}

.Help_btn{
    background-image: url(/src/icon/Help.svg);
    background-size: 100% 100%;
    width: 25px; height: 25px;
}

.delete_btn{
    background-image: url(/src/icon/delete.svg);
    background-size: 100% 100%;
    width: 25px; height: 25px;
}

/* Buttons End */

