
.button_right{
    float: right;
}

.button_grid{
    width: 90vw;
    padding: 1%;
    margin: 5% auto;
    max-width: 500px;
    min-width: 100px;
}

/* Buttons */

.userButton{
    border: none;
    color: black;
    height: 45px;
    float: right;
    text-decoration: none;
    background-color: white;
}

.button {    
    border: none;
    color: white;
    background-color: var(--mainGrey);
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    float: right;
}

.Search_btn{
    background-image: url(/src/icon/Search.svg);
    background-size: 100% 100%;
    width: 25px; height: 25px;
}

.imgUser {
    background-image: url(/src/icon/User.svg);
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    float: right;
}

.Like_btn {
    background-image: url(/src/icon/UnLike.svg);
    background-size: 100% 100%;
    width: 25px; height: 25px;
}

.View_more_btn{
    background-image: url(/src/icon/View_more.svg);
    background-size: 100% 100%;
    width: 25px; height: 25px;
}

.Settings_btn{
    background-image: url(/src/icon/Settings.svg);
    background-size: 100% 100%;
    width: 25px; height: 25px;
}

.Help_btn{
    background-image: url(/src/icon/Help.svg);
    background-size: 100% 100%;
    width: 25px; height: 25px;
}

/* Buttons End */

/* Dropdown button */

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* Dropdown button End */
