.__Logo__{
    position: static;
    margin: 5%;
    text-align: center;
}

/* 
.__Logo__ > h1{
    font-size: 
} */

.Login_center{
    position: absolute;
    align-items: center;
    padding: 3%;
    margin-left: 25%;
    width: 50%;
    box-shadow: 0px 1px 2px gray;
}
