.Navbar{
    position: sticky;
    top: 0;
    height: 50px;
    width: 100%;
    box-shadow: 5px 5px;
    z-index: 1;
}

.shadowbox{
    box-shadow: 0px 1px 5px 2px var(--shadowColor);
}

.footer {
    padding: 1%;
    text-align: center;
    width: 100%;
    margin: 0 auto;    
}