@import url(../css/buttons.css);

.center_nav{
    position: fixed;
    width: 50%;
    left: 25%;
    background-color: #ffffffbd;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0 0 40px 40px;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
    z-index: 0;
}

.left_nav {
    position: fixed;
    background-color: #ffffffbd;
    height: 100%;
    width: 20%;
    padding: 30px;
    border-radius: 0 40px 40px 0;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
    float: left;
    z-index: 1;
}

.center_nav > h1 {
    position: absolute;
}

.search_form{
    margin-top: 2px;
    padding: 8px 20px;
    height: 35px;
    float: right;
}

.footer {
    position: relative;
    text-align: center;
    width: 100%;
    padding-top: 20%;
    padding-bottom: 5%;
}

.nav_btns{
    float: left;
    z-index: 1;
    width: 100%;
    align-items: center;
}

/* Dropdown button */

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 15px;
    text-align: center;
    min-width: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    border-radius: 15px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #dfdfdf
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* Dropdown button End */